#education{
    width: 100%;
    max-width: 900px;
    padding: 0;
    margin: auto;
    color: black;
    background-color: white;

    border-radius: 7px;
}

.education h2{
    margin: 3px 10px;
}

#dateline{
    text-align: left;
}

table{
    width: 100%;
    text-align: center;
}

#title_edu{
    font-weight: bold;
}

tr{
    margin: 5px;
}

#td_img{
    max-width: 10%;
}

td{
    max-width: 50px;
}

#mmu_logo{
    width: 50%;
}
