@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

html{
    color: white;
    background-color: #1e252d;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

#title{
    margin: 15px 0px;
    text-align: center;
}

#name{
    letter-spacing: 1.25px;
}

#titleDescr{
    font-size: 1.5rem;
}

#about{
    width: 50%;
    margin: auto;
    padding: 2px 10px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: #344353;
}
#about h3{
    margin: 0;
    text-align: center;
}

#projects{
    width: 100%;
    max-width: 900px;
    padding: 0;
    margin: auto;
    color: black;
    background-color: white;

    border-radius: 7px;
}

#projectTitle{
    border: 1.5px solid black;
    border-radius: 7px;
    background-color: rgb(79, 243, 107);
    cursor:context-menu;
}
#projectTitle:hover{
    color:white;
    border: none;
    border-radius: 7px;
    background-color: black;
    cursor:context-menu;
    transition-duration: 0.35s;
}

.navbar{
    margin: 20px;
    padding: 5px;
}
.navDescr{
    font-size: 1.65rem;
}
.navDescr a{
    color: black;
    font-size: 1.65rem;
    padding: 0 5px;
}
.navbar ul{
    padding: 0;
}
.navbar li{
    display: inline;
    padding: 0 5px;
}
.navbar li .link{
    margin: 0 5px;
    padding: 0 1px;
    float: right;
    text-decoration: none;
}
.navbar li a:hover{
    color: white;
    border-radius: 6px;
    background-color: #344353;
    transition-duration: 0.35s;
}

.project{
    margin: 5px 15px;
}

div a{
    text-decoration: none;
}

.title_project{
    font-size: 1.85rem;
}

.project_image{
    margin: auto;
    display: block;
    width: autog;
    max-width: 450px;
    height: auto;
    text-align: center;
    border-radius: 3%;
}

@media screen and (max-width: 600px) {
    #about{
        width: 100%;
        max-width: 300px;
        margin: auto;
        padding: 2px 10px;
        border: 1px solid white;
        border-radius: 8px;
        background-color: #344353;
    } 
}

#drummachinePage{
    border: 1px solid black;
    width: 550px;
    max-width: fit-content;
}

.linkButton{
    display: flex;
    align-items: center;
    justify-content: center;
}

.linkButton a{
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color:#4e6b8b
}

.linkButton a:hover{
    border: 0.5px solid black;
    border-radius: 5px;
    padding: 3px;
    transition-duration: 0.25s;
}

#cowayWeb{
    margin: 10px 0;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav {position: relative;}

    .topnav.responsiveNav a {
      float: none;
      display: block;
      text-align: left;
    }
}